<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SpringMVC00_Hello</display-name>
  
  <!-- TODO : 02.listener --> 
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  
  
  <!-- TODO : 03.hello-servlet -->
  <servlet>
  	<servlet-name>hello</servlet-name> <!-- hello라고 해주면 hello-servlet.xml로 자동 매칭 해준다 스프링이 --><!-- 디스페처서블릿으로 리턴되면 ViewResolver가  리턴받은 값으로 알아서 출력해줌!-->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>*.ho</url-pattern>
  </servlet-mapping>
  
</web-app>